<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<th:block th:fragment="backLink">
    <th:block th:if="${backLink}">
        <a id="back-button-link"
           data-th-text="#{button.back}"
           data-event-id="back-button-link"
           th:if="${backLinkUrl == null}"
           href="javascript:void(0)"
           onclick="history.go(-1)"
           class="govuk-back-link">
        </a>
        <a id="back-button-url-link"
           data-th-text="#{button.back}"
           data-event-id="back-button-link"
           th:if="${backLinkUrl != null}"
           th:href="${backLinkUrl}"
           class="govuk-back-link">
        </a>
    </th:block>
</th:block>

</body>
</html>