<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/chsBaseLayout}">

<head>
    <title th:text="#{confirmationPage.title}"></title>
</head>

<div id="confirmation-main-content" layout:fragment="content">
    <form class="form" id="confirmation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation" id="confirmation-details">
                    <div class="govuk-panel__body" id="confirmation-penalty-reference">
                        <h1 class="govuk-panel__title" th:text="#{confirmationPage.header}"></h1>
                        <div class="govuk-panel__body">
                            <span th:text="#{confirmationPage.penalty-ref-label}"></span>
                            <span class="govuk-!-font-weight-bold" th:text="${penaltyRef}"></span>
                        </div>
                    </div>
                </div>
                <br>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{confirmationPage.issued-to-label}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${companyName}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"
                            th:if="*{penaltyReferenceName != 'SANCTIONS_ROE'}"
                            th:text="#{confirmationPage.company-number-label}"></dt>
                        <dt class="govuk-summary-list__key"
                            th:if="*{penaltyReferenceName == 'SANCTIONS_ROE'}"
                            th:text="#{confirmationPage.overseas-entity-id-label}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${companyNumber}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{confirmationPage.reason-for-penalty-label}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${reasonForPenalty}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{confirmationPage.paid-on-label}"></dt>
                        <dd class="govuk-summary-list__value" th:text="${paymentDate}"></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="#{confirmationPage.amount-label}"></dt>
                        <dd class="govuk-summary-list__value" th:text="'£' + ${penaltyAmount} + ' (no VAT is charged)'"></dd>
                    </div>
                </dl>
                <h2 class="govuk-heading-m">
                    What happens next
                </h2>
                <p class="govuk-body">
                    We'll update your account within 24 hours.
                </p>
                <p class="govuk-body">
                    We've emailed these details to
                    <span class="govuk-!-font-weight-bold" th:text="${userEmail}">keyvalue</span>.
                    GOV.UK Pay will also send an email confirming that your payment was successful.
                </p>
                <p class="govuk-body">
                    You do not need to contact us to tell us that you've paid.
                </p>
                <div class="govuk-cookie-banner">
                    <div class="govuk-width-container govuk-!-static-margin-top-1 govuk-!-static-margin-left-5 govuk-!-static-margin-right-5 govuk-!-static-margin-bottom-6" th:if="${penaltyReferenceName} == 'LATE_FILING'">
                        <h2 class="govuk-heading-m">
                            Sign up for email reminders
                        </h2>
                        <p class="govuk-body">You can sign up to receive
                            <a href="https://www.gov.uk/guidance/online-filing-and-email-reminders-for-companies#reminders" class="govuk-link">email reminders</a>
                            to file your company accounts. This will help you file on time in future and avoid penalties.</p>
                    </div>
                    <div class="govuk-width-container govuk-!-static-margin-top-1 govuk-!-static-margin-left-5 govuk-!-static-margin-right-5 govuk-!-static-margin-bottom-6" th:if="${penaltyReferenceName == 'SANCTIONS'}">
                        <h2 class="govuk-heading-m">
                            Check if you need to take further action
                        </h2>
                        <p class="govuk-body">This penalty was issued because of the following offence:</p>
                        <p class="govuk-body" th:text="${reasonForPenalty}"></p>
                        <p class="govuk-body">You've paid the penalty, but there may still be more to do.</p>
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                You must check if you need to take any further action relating to this offence. If an action is required and you do not comply, you may still be committing an offence and at risk of more penalties or prosecution.
                            </strong>
                        </div>
                        <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link">Contact us</a> if you are unsure of what you need to do.</p>
                    </div>
                    <div class="govuk-width-container govuk-!-static-margin-top-1 govuk-!-static-margin-left-5 govuk-!-static-margin-right-5 govuk-!-static-margin-bottom-6" th:if="${penaltyReferenceName == 'SANCTIONS_ROE'}">
                        <h2 class="govuk-heading-m">
                            Check if you need to take further action
                        </h2>
                        <p class="govuk-body">
                            The overseas entity must
                            <a href="https://www.gov.uk/guidance/file-an-overseas-entity-update-statement" class="govuk-link">file an update statement</a>
                            every year, to check and confirm that the information on the register is still correct, and update anything that's changed.
                        </p>
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                You must make sure that you have now filed all required update statements. If you have not, you may still be committing an offence and be at risk of more penalties or prosecution.
                            </strong>
                        </div>
                        <p class="govuk-body">
                            If you're not sure whether your filings are up to date,
                            <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">
                                search for the overseas entity on the Companies House register.</a>
                            You'll be able to see when the next statement is required, and whether it's overdue.
                        </p>
                        <p class="govuk-body"><a href="https://www.gov.uk/contact-companies-house" class="govuk-link">Contact us</a> if you are unsure of what you need to do.</p>
                    </div>
                </div>
                <br>
                <h2 class="govuk-heading-m">
                    If you have another penalty to pay
                </h2>
                <p class="govuk-body">
                    You can use this service again to
                    <a id="penalty-ref-starts-with-link"
                       th:href="${@environment.getProperty('penalty.ref-starts-with-url')}"
                       class="govuk-link"
                       data-event-id="Pay another penalty link"
                       th:onclick="_paq.push(['trackGoal', [[${@environment.getProperty('matomo.pay-another-penalty-goal-id')}]]]);">
                    pay another penalty</a>.
                </p>
                <br><br>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/pay-a-penalty-confirmation" th:target="_blank">What did you think of this service?</a>
                    (takes 30 seconds)
                </p>
            </div>
        </div>
    </form>
</div>
</html>
