<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/chsBaseLayout}">

<head>
    <title th:text="#{details.title}"></title>
</head>

<div id="enter-details" layout:fragment="content">
    <form id="enterdetails" th:action="@{'/pay-penalty/enter-details'}" th:object="${enterDetails}" method="post" class="form">
        <input type="hidden" th:field="*{penaltyReferenceName}" name="penaltyReferenceName"/>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div th:replace="~{fragments/ppsGlobalErrors :: globalErrors}"></div>

                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" th:text="#{details.header}"></h1>

                <span class="govuk-error-message"
                      id="penaltyNotFound-errorId"
                      th:if="${#fields.hasErrors('global')}"
                      th:each="err : ${#fields.errors('global')}" th:text="${err}">
                    </span>

                <div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('companyNumber')} ? 'govuk-form-group--error' : ''">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="company-number"
                                   th:if="*{penaltyReferenceName != 'SANCTIONS_ROE'}"
                                   th:text="#{details.company-number-label}">
                            </label>
                            <label class="govuk-label govuk-label--m" for="company-number"
                                   th:if="*{penaltyReferenceName == 'SANCTIONS_ROE'}"
                                   th:text="#{details.overseas-entity-id-label}">
                            </label>
                        </h1>

                        <span class="govuk-error-message"
                              id="companyNumber-errorId"
                              th:if="${#fields.hasErrors('companyNumber')}"
                              th:each="e : ${#fields.errors('companyNumber')}" th:text="${e}">
                            </span>

                        <div id="company-number-hint" class="govuk-hint"
                             th:if="*{penaltyReferenceName != 'SANCTIONS_ROE'}"
                             th:text="#{details.company-number-hint}">
                        </div>
                        <div id="overseas-entity-id-hint" class="govuk-hint"
                             th:if="*{penaltyReferenceName == 'SANCTIONS_ROE'}"
                             th:text="#{details.overseas-entity-id-hint}">
                        </div>

                        <input class="govuk-input govuk-input--width-10"
                               id="company-number"
                               th:field="*{companyNumber}"
                               th:errorclass="govuk-input--error"
                               name="company-number"
                               type="text"
                               maxlength="8"
                               autocomplete="on">
                    </div>

                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('penaltyRef')} ? 'govuk-form-group--error' : ''">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="penalty-ref"
                                   th:text="#{details.penalty-ref-label}">
                            </label>
                        </h1>

                        <span class="govuk-error-message"
                              id="penaltyRef-errorId"
                              th:if="${#fields.hasErrors('penaltyRef')}"
                              th:each="e : ${#fields.errors('penaltyRef')}" th:text="${e}">
                            </span>

                        <div id="penalty-ref-hint.LATE_FILING" class="govuk-hint" th:if="*{penaltyReferenceName == 'LATE_FILING'}"
                             th:text="#{details.penalty-ref-hint.LATE_FILING}">
                        </div>
                        <div id="penalty-ref-hint.SANCTIONS" class="govuk-hint" th:if="*{penaltyReferenceName == 'SANCTIONS'}"
                             th:text="#{details.penalty-ref-hint.SANCTIONS}">
                        </div>
                        <div id="penalty-ref-hint.SANCTIONS_ROE" class="govuk-hint" th:if="*{penaltyReferenceName == 'SANCTIONS_ROE'}"
                             th:text="#{details.penalty-ref-hint.SANCTIONS_ROE}">
                        </div>

                        <input class="govuk-input govuk-input--width-10"
                               id="penalty-ref"
                               th:field="*{penaltyRef}"
                               th:errorclass="govuk-input--error"
                               name="penalty-ref"
                               type="text"
                               maxlength="8"
                               autocomplete="on">
                    </div>

                    <div class="govuk-form-group">
                        <details class="govuk-details piwik-event" data-event-id="Details - Where can I find these details" data-module="govuk-details" aria-labelledby="details-summary">
                            <summary class="govuk-details__summary" id="details-summary">
                                    <span class="govuk-details__summary-text"
                                          th:text="#{details.details-info-label}">
                                    </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p th:text="#{details.penalty-notice-text}"></p>
                                <div id="penalty-notice-image">
                                    <img th:if="*{penaltyReferenceName == 'LATE_FILING'}" th:src="@{images/penalty-notice.png}" alt="penalty notice">
                                    <img th:if="*{penaltyReferenceName == 'SANCTIONS'}" th:src="@{images/sanction-penalty-notice.png}" alt="penalty notice">
                                    <img th:if="*{penaltyReferenceName == 'SANCTIONS_ROE'}" th:src="@{images/roe-penalty-notice.png}" alt="penalty notice">
                                </div>
                            </div>
                        </details>
                    </div>

                    <div class="form-group">
                        <input id="next-button-late-filing" class="govuk-button"
                               type="submit" role="button" value="Continue"
                               th:if="*{penaltyReferenceName == 'LATE_FILING'}"
                               th:onclick="_paq.push(['trackGoal', [[${@environment.getProperty('matomo.penalty-details-continue-lfp-goal-id')}]]]);"/>

                        <input id="next-button-sanctions" class="govuk-button"
                               type="submit" role="button" value="Continue"
                               th:if="*{penaltyReferenceName == 'SANCTIONS'}"
                               th:onclick="_paq.push(['trackGoal', [[${@environment.getProperty('matomo.penalty-details-continue-sanctions-goal-id')}]]]);"/>

                        <input id="next-button-roe" class="govuk-button"
                               type="submit" role="button" value="Continue"
                               th:if="*{penaltyReferenceName == 'SANCTIONS_ROE'}"
                               th:onclick="_paq.push(['trackGoal', [[${@environment.getProperty('matomo.penalty-details-continue-sanctions-roe-goal-id')}]]]);"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
