<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/chsBaseLayout}">

<head>
    <title>
        You need to pay by bank transfer - Pay a penalty to Companies House - GOV.UK
    </title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var penaltyReference = '[[${penaltyReference}]]';
            var goalId;

            if (penaltyReference === 'LATE_FILING') {
                goalId = document.getElementById('online-payment-unavailable-stop-screen-lfp-goal-id')?.value;
            } else if (penaltyReference === 'SANCTIONS') {
                goalId = document.getElementById('online-payment-unavailable-stop-screen-sanctions-goal-id')?.value;
            } else if (penaltyReference === 'SANCTIONS_ROE') {
                goalId = document.getElementById('online-payment-unavailable-stop-screen-sanctions-roe-goal-id')?.value;
            }

            if (goalId && window._paq) {
                _paq.push(['trackGoal', goalId]);
            }
        });
    </script>
</head>

<div id="online-payment-unavailable-main-content" layout:fragment="content">

    <form class="form" id="online-payment-unavailable">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 id="page-title" class="govuk-heading-xl">
                    <span id="page-title-heading">You need to pay by bank transfer</span>
                </h1>
                <p class="govuk-body">
                    You cannot use this online service to pay this penalty.
                </p>
                <p class="govuk-body">
                    Pay by bank transfer instead, using these account details.
                </p>
                <div class="govuk-inset-text">Check the details carefully, as they may be different from other
                    transactions you've made with us.
                </div>

                <h2 class="govuk-heading-s">Bacs payments</h2>
                <ul class="govuk-list govuk-list--bullet" id="banking-details">
                    <li>
                        <span class="govuk-!-font-weight-bold">Account name</span>:
                        <span id="late-filing-account-name"
                              th:if="${penaltyReference == 'LATE_FILING'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.account-name')}"></span>
                        <span id="sanctions-account-name"
                              th:if="${penaltyReference == 'SANCTIONS' OR penaltyReference == 'SANCTIONS_ROE'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-sanctions.account-name')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Sort code</span>:
                        <span id="late-filing-sort-code"
                              th:if="${penaltyReference == 'LATE_FILING'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.sort-code')}"></span>
                        <span id="sanctions-sort-code"
                              th:if="${penaltyReference == 'SANCTIONS' OR penaltyReference == 'SANCTIONS_ROE'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-sanctions.sort-code')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Account number</span>:
                        <span id="late-filing-account-number"
                              th:if="${penaltyReference == 'LATE_FILING'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.account-number')}"></span>
                        <span id="sanctions-account-number"
                              th:if="${penaltyReference == 'SANCTIONS' OR penaltyReference == 'SANCTIONS_ROE'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-sanctions.account-number')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Payment reference</span>: Use your penalty reference, so
                        that we know which penalty you've paid.
                        Your payment may be delayed if you use the wrong reference.
                    </li>
                </ul>

                <h2 class="govuk-heading-s">Overseas payments</h2>
                <ul class="govuk-list govuk-list--bullet" id="overseas-banking-details">
                    <li>
                        <span class="govuk-!-font-weight-bold">IBAN</span>:
                        <span id="late-filing-iban"
                              th:if="${penaltyReference == 'LATE_FILING'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.iban')}"></span>
                        <span id="sanctions-iban"
                              th:if="${penaltyReference == 'SANCTIONS' OR penaltyReference == 'SANCTIONS_ROE'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-sanctions.iban')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">SWIFT code (BIC)</span>:
                        <span id="late-filing-swift-code"
                              th:if="${penaltyReference == 'LATE_FILING'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-late-filing.swift-code')}"></span>
                        <span id="sanctions-swift-code"
                              th:if="${penaltyReference == 'SANCTIONS' OR penaltyReference == 'SANCTIONS_ROE'}"
                              th:text="${@environment.getProperty('penalty.bank-transfer-sanctions.swift-code')}"></span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Payment reference</span>: Use your penalty reference, so
                        that we know which penalty you've paid.
                        Your payment may be delayed if you use the wrong reference.
                    </li>
                </ul>

                <h2 class="govuk-heading-s">What happens next</h2>
                <p class="govuk-body">Your payment may take up to 4 working days to process.</p>
                <p class="govuk-body">If you have any questions, you can
                    <a href="https://www.gov.uk/contact-companies-house" class="govuk-link">contact us</a>.</p>
            </div>
        </div>
        <input type="hidden" th:value="${@environment.getProperty('matomo.online-payment-unavailable-stop-screen-lfp-goal-id')}"
               id="online-payment-unavailable-stop-screen-lfp-goal-id">
        <input type="hidden" th:value="${@environment.getProperty('matomo.online-payment-unavailable-stop-screen-sanctions-goal-id')}"
               id="online-payment-unavailable-stop-screen-sanctions-goal-id">
        <input type="hidden" th:value="${@environment.getProperty('matomo.online-payment-unavailable-stop-screen-sanctions-roe-goal-id')}"
               id="online-payment-unavailable-stop-screen-sanctions-roe-goal-id">
    </form>
</div>
</html>
