<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/chsBaseLayout}">

<head>
    <title th:text="#{penaltyRefStartsWith.title}"></title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('penalty-ref-starts-with-form').addEventListener('submit', function (e) {
                var selectedPenaltyReference = document.querySelector('input[name=selectedPenaltyReference]:checked');
                if (selectedPenaltyReference != null) {
                    var selectedPenaltyReferenceValue = selectedPenaltyReference.value;
                    if (selectedPenaltyReferenceValue === 'LATE_FILING') {
                        _paq.push(['trackGoal', document.querySelector("#lfp-goal-id").value]);
                    } else if (selectedPenaltyReferenceValue === 'SANCTIONS') {
                        _paq.push(['trackGoal', document.querySelector("#sanctions-goal-id").value]);
                    } else if (selectedPenaltyReferenceValue === 'SANCTIONS_ROE') {
                        _paq.push(['trackGoal', document.querySelector("#sanctions-roe-goal-id").value]);
                    }
                }
            });
        });
    </script>
</head>

<div id="penalty-ref-starts-with-main-content" layout:fragment="content">
    <form th:action="@{'/pay-penalty/ref-starts-with'}" th:object="${penaltyReferenceChoice}" method="post" class="form"
          id="penalty-ref-starts-with-form">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div th:replace="~{fragments/ppsGlobalErrors :: globalErrors}"></div>

                <h1 id="page-title" class="govuk-heading-xl">
                    <span id="page-title-heading" th:text="#{penaltyRefStartsWith.header}"></span>
                </h1>

                <p class="govuk-hint govuk-!-margin-top-3"
                   th:text="#{penaltyRefStartsWith.hint}"></p>

                <div class="govuk-form-group"
                     th:classappend="${#fields.hasErrors('selectedPenaltyReference')} ? 'govuk-form-group--error' : ''">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-visually-hidden"
                                th:text="#{penaltyRefStartsWith.label}">
                        </legend>
                        <span class="govuk-error-message"
                              id="selectedPenaltyReference-errorId"
                              th:if="${#fields.hasErrors('selectedPenaltyReference')}"
                              th:each="e : ${#fields.errors('selectedPenaltyReference')}" th:text="${e}">
                        </span>

                        <div class="govuk-radios" data-module="govuk-radios"
                             th:each="penaltyReference : ${availablePenaltyReference}"
                             style="margin-bottom:1em;">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       th:id="${penaltyReference.name}"
                                       name="selectedPenaltyReference"
                                       type="radio"
                                       th:value="${penaltyReference.name}"
                                       th:field="*{selectedPenaltyReference}"
                                       th:errorclass="govuk-error-message"/>

                                <label class="govuk-label govuk-radios__label" th:for="${penaltyReference}"
                                       th:text="${penaltyReference.startsWith}"></label>
                            </div>
                        </div>
                        <input type="hidden" th:value="${@environment.getProperty('matomo.penalty-ref-starts-with-lfp-goal-id')}" id="lfp-goal-id">
                        <input type="hidden" th:value="${@environment.getProperty('matomo.penalty-ref-starts-with-sanctions-goal-id')}" id="sanctions-goal-id">
                        <input type="hidden" th:value="${@environment.getProperty('matomo.penalty-ref-starts-with-sanctions-roe-goal-id')}" id="sanctions-roe-goal-id">
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <details class="govuk-details"
                             data-module="govuk-details" aria-labelledby="penalty-reference">
                        <summary class="govuk-details__summary" id="penalty-reference">
                            <span class="govuk-details__summary-text piwik-event"
                                  data-event-id="Help with the penalty reference clicked">
                                Help with the penalty reference
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>You'll find the penalty reference at the top of your penalty notice.</p>
                            <p>Email <a href="mailto:enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a> for help if:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>your penalty reference does not start with any of these letters</li>
                                <li>you have lost your penalty notice - use 'Lost penalty notice' as the email
                                    subject, and tell us as much information as you can about the penalty so we can
                                    pass your message to the right team
                                </li>
                            </ul>
                            <div id="penalty-notice-image"></div>
                        </div>
                    </details>
                </div>

                <div class="form-group">
                    <input id="next-button" class="govuk-button"
                           type="submit" role="button"
                           value="Continue"/>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
